<p> Here's all your Beers </p>

<% @beers.each do |beer| %>
  <div>
    Name: <%= beer.name %> </br>
    Style: <%= beer.style %> </br>
    Brewery: <a href="/breweries/<%=beer.brewery.id%>"> <%= beer.brewery.name %></a> </br>
    Score: <%= beer.score %> </br>
    </br>
  </div>
<% end %>
